* { padding:0; margin:0; outline:0; }
a { color:#890000; text-decoration: none; cursor:pointer; }
a:hover { color:#333; }



.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }


#container { background:#fff url(images/container-t.gif) no-repeat 0 0; padding:30px 20px; }

.items { position:absolute; width:1200px; margin-right:-20px; padding-bottom:5px; }
.items ul{ list-style-type: none;}
.items ul .image{ text-align: center;}
.items ul .image img {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.items ul .image:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.items ul li{ float:left; border:dashed 1px #cfcfcf; width:280px; margin:0 10px 10px 0; padding:13px; }
.items ul li p span{ color:#890000}
.items ul li p.price{ padding-top:15px; }
.items ul li p.price strong{ color:#890000; font-size:20px;}

.brands h3 { padding-bottom:10px;}
.brands a { margin-right:30px;}



.tab-content { display:none;}

.tabbed { min-height:420px;}